node_modules

apps/web/.next

apps/web/.turbo
apps/web/out
apps/web/dist
apps/web/build
apps/web/.vercel
apps/web/.vercel_build_output
apps/web/.vercel_cache
apps/web/.vercel_project_id
apps/web/.vercel_org_id
apps/web/.vercel_link
apps/web/.vercel_env

apps/web/.env
apps/web/.env.local
apps/web/.env.development.local
apps/web/.env.test.local
apps/web/.env.production.local

apps/web/public/locales
apps/web/.DS_Store
apps/web/coverage
apps/web/npm-debug.log*
apps/web/yarn-debug.log*
apps/web/yarn-error.log*
apps/web/pnpm-debug.log*
apps/web/.eslintcache
apps/web/.nextlintcache

apps/web/.vscode

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
lerna-debug.log*
lerna-debug.log*
*.log
*.tsbuildinfo
dist/
build/
tmp/
temp/
out/
coverage/
.cache/
node_modules/
.pnp.*
.pnp.js
.eslintcache
.next/
.nuxt/



# Ignore test output
test-output/
test-results/

# Ignore production
.production/
.vercel/
.vercel_build_output/
.vercel_cache/
.vercel_project_id

services/api/.env
services/api/.env.local
services/api/.env.development.local
services/api/.env.test.local
services/api/.env.production.local

# Python cache
__pycache__/
*.py[cod]
